@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroyextrabold.woff") format("woff"), url("../fonts/gilroyextrabold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroylight.woff") format("woff"), url("../fonts/gilroylight.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensanslight.woff") format("woff"), url("../fonts/opensanslight.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

body {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

img {
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

.slider,
.main-catalog-menu,
.brands,
.contacts-info--wrap,
.information--wrap,
.main-header {
    box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-header {
    margin-top: 40px;
}

a {
    text-decoration: none;
}

.visually--hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
}

.main-header {
    color: #000000;
}

.main-header--logo img {
    margin-top: -20px;
}

.main-header--logo img:hover {
    opacity: 0.6;
}

.main-header--logo img:active {
    opacity: 0.3;
}

.main-nav {
    box-sizing: border-box;
    background-color: rgba(240, 197, 46, 0.5);
    padding: 0 60px;
}

.user-nav {
    margin: 20px 0 0 0;
}

.user-nav,
.menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user-nav .login--wrap {
    position: relative;
    width: 270px;
}

.user-nav .logout--wrap {
    padding-left: 20px;
}

.user-nav .login-link {
    padding-left: 25px;
}

.user-nav .login-link.login-link--logout {
    padding-left: 0;
}

.user-nav .compare-link,
.user-nav .cart-link {
    padding-left: 20px;
}

.user-nav .login-link:not(.login-link--logout):hover,
.user-nav .login-link:not(.login-link--logout):focus,
.user-nav .compare-link:hover,
.user-nav .compare-link:focus,
.user-nav .cart-link:hover,
.user-nav .cart-link:focus {
     opacity: 0.6;
}

.user-nav .login-link:not(.login-link--logout):active,
.user-nav .compare-link:active,
.user-nav .cart-link:active {
    opacity: 0.3;
}

.user-nav .login-link:not(.login-link--logout)::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 12px;
    background-image: url("../img/icons/user.svg");
    background-repeat: no-repeat;
    top: 9px;
    left: 0;
}

.user-nav .search,
.user-nav .user-nav-link {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: rgba(0, 0, 0, 1);
}

.user-nav .login-search {
    margin-right: 40px;
}

.user-name--wrap {
    padding-left: 20px;
    position: relative;
}

.user-nav .user-name::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 12px;
    background-image: url("../img/icons/user.svg");
    background-repeat: no-repeat;
    top: 9px;
    left: 0;
}

.user-nav .login-link--logout {
    margin-right: 60px;
    opacity: 0.3;
}

.user-nav .search::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.user-nav .search:hover::placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.user-nav .search:focus::placeholder {
    color: rgba(0, 0, 0, 1);
}

.user-nav .search:focus {
    border-bottom: 2px solid rgba(0, 0, 0, 1);
}

.search--wrap {
    position: relative;
    width: 440px;
    margin-right: 80px;
}

.search {
    padding-left: 40px;
    width: 100%;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid transparent;
}

input[type=search]::-ms-clear,
input[type=search]::-ms-reveal {
    display: none;
    width : 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
}


.search-btn {
    line-height: 30px;
    padding: 8px 18px;
    position: absolute;
    text-transform: none;
    height: 49px;
    bottom: 0;
    right: 0;
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 1);
    letter-spacing: 2px;
    background-color: transparent;
    visibility: hidden;
}

.search:focus {
    outline: none;
}

.search:focus ~ .search-btn,
.search-btn:hover,
.search-btn:focus {
    visibility: visible;
}

.search-btn:hover,
.search-btn:focus {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
}

.search-btn:active {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 0.3);
}

.search--wrap::before {
    content: "";
    position: absolute;
    left: 2px;
    background-image: url("../img/icons/search.svg");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    top: 8px;
}

.user-nav .compare--wrap {
    width: 100px;
    position: relative;
    margin-right: 15px;
}

.user-nav .compare-link::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-image: url("../img/icons/compare.svg");
    background-repeat: no-repeat;
    top: 11px;
    left: 0;
}

.user-nav .cart--wrap {
    position: relative;
}

.user-nav .cart-link::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-image: url("../img/icons/cart.svg");
    background-repeat: no-repeat;
    top: 9px;
    left: 0;
}

.menu-list.user-nav--logout {
    padding-bottom: 40px;
}

.menu-list,
.catalog-list,
.catalog-menu-list {
    list-style: none;
}

.menu-list .catalog-header-menu {
    width: 250px;
    margin-right: 270px;
}

.catalog-header-menu {
    position: relative;
}

.catalog-header-menu::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url("../img/icons/plus.svg");
    background-repeat: no-repeat;
    top: 3px;
    right: 0;
}

.catalog-header-menu:hover .catalog-submenu {
    display: flex;
    flex-direction: column;
}

.catalog-submenu {
    position: absolute;
    background-color: rgba(247, 226, 150, 1);
    height: 170px;
    width: 1160px;
    z-index: 1;
    top: 20px;
    left: -60px;
}

.catalog-submenu .submenu-link {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 36px;
    letter-spacing: 0.15px;
    text-transform: none;
}

.subcatalog-list {
    padding: 30px 0 30px 60px;
    flex-direction: column;
    margin: 0;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    height: 175px;
    width: 610px;
}

.subcatalog-list li.subcatalog-item:nth-child(-n + 3) {
    width: 220px;
}

.subcatalog-list li.subcatalog-item:nth-child(n + 4) {
    width: 200px;
}

.subcatalog-list li.subcatalog-item:nth-child(5) {
    margin-bottom: 40px;
}

.menu-list {
    margin: 35px 0 0 0;
    padding: 0;
}

.menu-list li.menu-item:nth-child(2) {
    width: 140px;
}

.menu-list li.menu-item:nth-child(3) {
    width: 200px;
}

.menu-list a {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    letter-spacing: 3.6px;
}

.menu-list a:hover,
.menu-list a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.menu-list a:active {
    color: rgba(0, 0, 0, 0.3);
}

.catalog-submenu {
    display: none;
}

.slider {
    position: relative;
    height: 532px;
    margin-bottom: 110px;
}

.slider .slide::before {
    content: "";
    width: 1160px;
    background-color: rgba(240, 197, 46, 0.5);
    margin: 0;
    line-height: 0;
    font-size: 0;
    color: transparent;
    text-align: right;
    position: absolute;
    height: 135px;
    z-index: -1;
    padding-top: 30px;
    box-sizing: content-box;
}

.slide {
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
    max-height: 532px;
    position: absolute;
    width: 1160px;
}

.slide:not(.slide--active) {
    transition: opacity 1s ease-out;
    opacity: 0;
}

.slide .slide--active {
    transition: opacity 1s ease-out;
    opacity: 1;
}

.slide::after {
    position: absolute;
    width: 180px;
    height: 180px;
    font-size: 180px;
    line-height: 180px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 1.8px;
    right: 80px;
    top: 40px;
    z-index: -1;
}

.slide-1::after {
    right: 60px;
}

.slide .image--wrap {
    display: flex;
    justify-content: center;
    width: 50%;
}

.slide img {
    margin: 50px 0 0 0;
    height: min-content;
}

.slide-3 img {
    margin-top: 120px;
}

.slide-1::after {
    content: "01";
}

.slide-2::after {
    content: "02";
}

.slide-3::after {
    content: "03";
}

.slider b {
    font-size: 47px;
    line-height: 56px;
    font-weight: 800;
    letter-spacing: 0.5px;
    width: 400px;
    margin-bottom: 10px;
    position: relative;
}

.slide-3 b {
    width: 550px;
}

.slider b::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 7px;
    background-color: rgba(255, 255, 255, 1);
    top: -45px;
}

.slide .btn {
    align-self: flex-start;
    margin: 0 0 50px 0;
    width: 220px;
    text-align: center;
}

.slide .slider-info--wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 130px 60px 0 -10px;
    width: 500px;
}

.slider .slide-description {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.2px;
    width: 490px;
    margin: 10px 0 45px 0;
}

.slide table {
    max-width: 430px;
}

.slide-3 table {
    max-width: 280px;
}

.slide tbody {
    display: flex;
    justify-content: space-between;
}

.slide td {
    display: block;
}

.slide tr {
    display: table-cell;
}

.slider .parameter {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.1px;
}

.slider .value {
    font-weight: 300;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.4px;
}

.slider-dots-list {
    list-style: none;
    position: absolute;
    margin: 0;
    padding: 0;
    right: 105px;
    top: 365px;
    display: flex;
}

.slider-dots-list .slider-dot-item--current {
    border: none;
    background-image: url("../img/icons/slider-button.svg");
    background-repeat: no-repeat;
}

.slider-dots-list button {
    line-height: 0;
    font-size: 0;
    color: transparent;
    border: 1px solid rgba(0, 0, 0, 1);
    background-color: transparent;
    border-radius: 15px;
    width: 12px;
    height: 12px;
    padding: 0;
}

.slider-dots-list button:not(.slider-dot-item--current):hover {
    cursor: pointer;
}

.slider-dots-list li:not(:last-child) button {
    margin-right: 20px;
}

.main-catalog-menu {
    margin-bottom: 165px;
}

.main-catalog-menu .main-catalog-menu-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}

.main-catalog-menu .main-catalog-item {
    position: relative;
    width: 160px;
    height: 160px;
}

.main-catalog-menu-list .main-catalog-item--title {
    width: 160px;
}

.main-catalog-menu-list .main-catalog-item--title::after {
    content: "";
    position: absolute;
    width: 160px;
    height: 160px;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

.main-catalog-item-vr .main-catalog-item--title::after {
    background: url("../img/icons/vr.svg") no-repeat center center;
}

.main-catalog-item-monopods .main-catalog-item--title::after {
    background: url("../img/icons/monopods.svg") no-repeat center center;
    height: 120px;
}

.main-catalog-item-action-cameras .main-catalog-item--title::after {
    background: url("../img/icons/action-cameras.svg") no-repeat center center;
}

.main-catalog-item-fit-bracelet .main-catalog-item--title::after {
    background: url("../img/icons/fit-bracelet.svg") no-repeat center center;
}

.main-catalog-item-smart-watch .main-catalog-item--title::after {
    background: url("../img/icons/smart-watch.svg") no-repeat center center;
}

.main-catalog-item-copters .main-catalog-item--title::after {
    background: url("../img/icons/copters.svg") no-repeat center center;
}

.main-catalog-menu-list .main-catalog-item--title {
    width: 160px;
    margin: 35px 0 0 0;
}

.main-catalog-item-monopods .main-catalog-item--title {
    width: 120px;
}

.main-catalog-menu-list a {
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.2px;
}

.main-catalog-menu-list .main-catalog-item::before {
    content: "";
    display: block;
    width: 160px;
    height: 160px;
    background-color: rgba(240, 197, 46, 0.5);
}

.main-catalog-item:hover::before,
.main-catalog-item:focus::before {
    background-color: rgba(240, 197, 46, 1);
}

.main-catalog-item:active .main-catalog-item--title::after,
.main-catalog-item:active .main-catalog-item--title {
    opacity: 0.3;
}

.main-catalog-menu-list a:active,
.main-catalog-item-vr .main-catalog-item--title:active::after {
    opacity: 0.3;
}

.information ul {
    list-style: none;
}

.info-item:not(.info--current) {
    transition: opacity 1s ease-out;
    opacity: 0;
}

.info-item.info--current {
    transition: opacity 1s ease-out;
    opacity: 1;
}

.btn {
    color: rgba(0, 0, 0, 1);
    background-color: transparent;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    border: none;
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    padding: 8px 0;
    position: relative;
    cursor: pointer;
}

.btn::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 8px;
    background-color: rgba(240, 197, 46, 1);
    z-index: -1;
    left: 0;
    top: 50%;
    margin-top: -4px;
}

.info-menu--current {
    padding: 8px 137px 8px 25px;
}

.info-menu-item:hover:not(.info-menu--current),
.info-menu-item:focus:not(.info-menu--current) {
    background-color: rgba(240, 197, 46, 1);
    color: rgba(0, 0, 0, 1);
    width: 160px;
}

.info-menu-item:active:not(.info-menu--current) {
    background-color: rgba(0, 0, 0, 1);
    width: 278px;
}

.info-menu--current {
    color: rgba(247, 225, 132, 1);
    text-align: center;
    height: 38px;
    background-color: rgba(0, 0, 0, 1);
    width: 278px;
}

.information .btn:active:not(.info-menu--current) {
    color: rgba(247, 225, 132, 1);
    text-align: center;
    height: 38px;
}

.information .btn--current {
    color: rgba(247, 225, 132, 1);
}

.info-menu-item:active:not(.btn--current) {
    color: rgba(0, 0, 0, 0.3);
}

.information {
    position: relative;
    margin-bottom: 160px;
}

.information::after {
    content: "";
    background-color: rgba(229, 229, 229, 1);
    position: absolute;
    width: 100%;
    height: 285px;
    z-index: -2;
    top: 100px;
}

.information .btn {
    display: block;
}

.information--wrap {
    display: flex;
}

.information .info-menu-list {
    margin: 0 120px 0 0;
    padding: 80px 0;
    border-right: 5px solid rgba(0, 0, 0, 1);
    max-height: 320px;
    width: 283px;
}

.information .info-list {
    padding: 75px 0 0 0;
    margin: 0;
    position: relative;
}

.info-menu-item {
    padding: 0;
}

.information .info-menu-list li:not(:last-child) {
    margin-bottom: 25px;
}

.info-menu-item .btn {
    width: 160px;
    text-align: center;
}

.info-item {
    position: absolute;
    left: -5px;
    top: 70px;
}

.info-list .info-item::before {
    content: "";
    position: absolute;
    width: 172px;
    height: 194px;
    right: -275px;
    top: -5px;
}

.info-list .info--delivery::before {
    background: url("../img/icons/delivery.svg") no-repeat center center;
}

.info-list .info--guarantee::before  {
    background: url("../img/icons/warranty.svg") no-repeat center center;
}

.info-list .info--credit::before  {
    background: url("../img/icons/credit.svg") no-repeat center center;
}

.info-list h2 {
    font-size: 47px;
    line-height: 48px;
    letter-spacing: 0.5px;
    margin: 0 0 30px 0;
}

.info-list p {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    color: rgba(70, 70, 70, 1);
    letter-spacing: 0.2px;
    width: 440px;
    margin: 0;
}

.brands {
    margin-bottom: 95px;
}

.brands .brands-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.brands-list img {
    filter: grayscale(1);
    opacity: 0.2;
}

.brands-list img:hover {
    filter: grayscale(0);
    opacity: 1;
}

.contacts-info--wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.about-us {
    width: 470px;
}

.contacts {
    width: 560px;
}

.contacts img {
    margin: 10px 0 65px 0;
    cursor: pointer;
}

.about-us h2,
.contacts h2 {
    font-size: 47px;
    line-height: 48px;
    letter-spacing: 0.5px;
    margin: 45px 0 40px -5px;
    position: relative;
}

.about-us h2::before,
.contacts h2::before {
    content: "";
    width: 80px;
    height: 7px;
    background-color: rgba(0, 0, 0, 1);
    top: -55px;
    left: 5px;
    position: absolute;
}

.about-us p,
.contacts p {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    color: rgba(70, 70, 70, 1);
    letter-spacing: normal;
    margin: 0 0 30px -2px;
}

.about-us p:last-of-type {
    margin-bottom: 70px;
}

.about-us .btn {
    min-width: 265px;
}

.contacts .btn {
    min-width: 260px;
}

.contacts-info--wrap .btn {
    display: inline-block;
    vertical-align: baseline;
    text-align: center;
}

.contacts-info--wrap .btn:hover,
.contacts-info--wrap .btn:focus {
    background-color: rgba(240, 197, 46, 1);
}

.contacts-info--wrap .btn:active {
    background-color: rgba(240, 197, 46, 1);
    color: rgba(0, 0, 0, 0.3);
}

.partners-list {
    list-style-type: none;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: normal;
    margin-bottom: 55px;
    padding-left: 33px;
}

.partners-list .partners-item {
    position: relative;
}

.partners-list .partners-item::before {
    content: "◦";
    color: rgba(229, 229, 229, 1);
    position: absolute;
    left: -33px;
    font-size: 24px;
}

.main-footer {
    background-color: rgba(70, 70, 70, 1);
}

.main-footer--logo {
    cursor: pointer;
}

.main-footer--logo img:hover,
.main-footer--logo img:focus {
    opacity: 0.6;
}

.main-footer--logo img:active {
    opacity: 0.3;
}

.footer-user-nav,
.footer-menu-list {
    list-style: none;
}
.footer-user-nav a,
.footer-nav p {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 0.2px;
}

.footer-user-nav-item:hover svg,
.footer-user-nav-item:focus svg {
    opacity: 0.6;
}

.footer-user-nav-item:hover a,
.footer-user-nav-item:focus a {
    color: rgba(255, 255, 255, 1);
}

.footer-user-nav-item:active svg,
.footer-user-nav-item:active a {
    color: rgba(255, 255, 255, 0.3);
    opacity: 0.3;
}

.footer-user-nav--wrap {
    margin-bottom: 40px;
    text-align: right;
}

.footer-user-nav a:active {
    color: rgba(255, 255, 255, 0.3);
}

.footer-user-nav--logout li:first-child {
    display: flex;
    margin-right: 30px;
}

.footer-user-nav--logout .footer-user-nav-link--logout {
    color: rgba(255, 255, 255, 1    );
}

.footer-nav {
    width: 1160px;
    margin: 0 auto;
    padding: 65px 20px 55px 20px;
    display: flex;
    flex-direction: column;
}

.footer-user-nav--wrap,
.footer-contacts--wrap,
.footer-social--wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-nav .footer-user-nav {
    padding: 0;
    margin: 0;
}

.footer-user-nav {
    display: flex;
    justify-content: space-between;
}

.footer-user-nav .footer-login--wrap,
.footer-user-nav .footer-compare--wrap {
    margin-right: 20px;
}

.footer-compare--wrap {
    width: 100px;
}

.footer-cart--wrap {
    width: 90px;
}

.footer-nav p {
    color: rgba(255, 255, 255, 1);
}

.footer-contacts--wrap {
    margin-bottom: 65px;
}

.footer-address,
.footer-phone {
    margin: 0;
}

.footer-menu-list li:not(:last-child) {
    margin-right: 45px;
}

.footer-menu-list a {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 3.6px;
}

.footer-menu-list a:hover,
.footer-menu-list a:focus {
    color: rgba(255, 255, 255, 0.6);
}

.footer-menu-list li:hover ::before,
.footer-menu-list li:focus ::before {
    opacity: 0.6;
}

.footer-menu-list a:active {
    color: rgba(255, 255, 255, 0.3);
}

.footer-menu-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.footer-social--wrap {
    position: relative;
}

.footer-social--wrap::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 7px;
    background-color: rgba(255, 198, 0, 1);
    bottom: 20px;
}

.footer-social-list {
    list-style: none;
    margin: 0 0 0 500px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 145px;
}

.footer-social-list li {
    cursor: pointer;
}

.footer-social-list svg {
    opacity: 0.3;
}

.footer-social-list svg:hover,
.footer-social-list svg:focus {
    opacity: 1;
}

.footer-social-list svg:active {
    opacity: 0.1;
}

.footer-social-list span {
    line-height: 0;
    font-size: 0;
    color: transparent;
}

.footer-copyright img:hover,
.footer-copyright img:focus {
    opacity: 0.6;
}

.footer-copyright img:active {
    opacity: 0.3;
}

.modal {
    display: none;
}

.modal.modal--show {
    display: block;
}

.modal-map {
    position: absolute;
    bottom: -1600px;
    left: 0;
    width: 960px;
    height: 559px;
    margin-left: 280px;
    margin-top: 480px;
}

.modal-map .close-btn {
    border: none;
    background-color: transparent;
    background-image: url("../img/icons/modal-close.svg");
    background-repeat: no-repeat;
    width: 55px;
    height: 55px;
    opacity: 0.5;
    position: absolute;
    padding: 0;
    top: 22px;
    right: 22px;
    cursor: pointer;
}

.modal-map .close-btn:hover,
.modal-map .close-btn:focus {
    opacity: 1;
}

.modal-map .close-btn:active {
    opacity: 0.3;
}

.modal-feedback {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 960px;
    height: 553px;
    margin-left: -480px;
    margin-top: -276px;
    padding: 100px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.modal-feedback .close-btn {
    border: none;
    background-color: transparent;
    background-image: url("../img/icons/modal-close.svg");
    background-repeat: no-repeat;
    width: 55px;
    height: 55px;
    opacity: 0.5;
    position: absolute;
    padding: 0;
    top: 22px;
    right: 22px;
    cursor: pointer;
}

.modal-feedback .close-btn:hover,
.modal-feedback .close-btn:focus {
    opacity: 1;
}

.modal-feedback .close-btn:active {
    opacity: 0.3;
}

.modal-feedback form {
    display: flex;
    flex-direction: column;
}

.name-email--wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.name-email--wrap input,
.text--wrap textarea {
    border: 3px solid rgba(242, 242, 242, 1);
    background-color: rgba(242, 242, 242, 1);
    padding: 0 0 0 20px;
}

.name-email--wrap label {
    margin-bottom: 10px;
}

.feedback-email:hover,
.feedback-name:hover,
.feedback-message:hover {
    border: 3px solid rgba(235, 235, 235, 1);
    background-color: rgba(235, 235, 235, 1);
}

.feedback-email:focus,
.feedback-name:focus,
.feedback-message:focus {
    outline: none;
    border: 3px solid rgba(248, 226, 151, 1);
    background-color: rgba(248, 226, 151, 0.3);
}

.name-email--wrap input::placeholder,
.text--wrap textarea::placeholder {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.4);
}

.name-email--wrap input {
    width: 360px;
    height: 50px;
}

.text--wrap textarea {
    resize: none;
    width: 760px;
    height: 156px;
    padding: 14px 0 0 20px;
    margin-top: 10px;
}

.text--wrap {
    margin-bottom: 30px;
}

.name--wrap,
.email--wrap {
    display: flex;
    flex-direction: column;
}

.modal-feedback .btn {
    align-self: flex-start;
    cursor: pointer;
}

@-webkit-keyframes bounce {
    0% { -webkit-transform: translateY(-2000px); transform: translateY(-2000px); }

    70% { -webkit-transform: translateY(30px); transform: translateY(30px); }

    90% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }

    100% { -webkit-transform: translateY(0); transform: translateY(0); }
}

@keyframes bounce {
    0% { -webkit-transform: translateY(-2000px); transform: translateY(-2000px); }

    70% { -webkit-transform: translateY(30px); transform: translateY(30px); }

    90% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }

    100% { -webkit-transform: translateY(0); transform: translateY(0); }
}

@-webkit-keyframes shake {
    0%,
    100% { -webkit-transform: translateX(0); transform: translateX(0); }

    10%,
    30%,
    50%,
    70%,
    90% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }

    20%,
    40%,
    60%,
    80% { -webkit-transform: translateX(10px); transform: translateX(10px); }
}

@keyframes shake {
    0%,
    100% { -webkit-transform: translateX(0); transform: translateX(0); }

    10%,
    30%,
    50%,
    70%,
    90% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }

    20%,
    40%,
    60%,
    80% { -webkit-transform: translateX(10px); transform: translateX(10px); }
}

.modal--show {
    display: block;
    -webkit-animation: bounce 0.6s;
    animation: bounce 0.6s;
}

.modal--error {
    -webkit-animation: shake 0.6s;
    animation: shake 0.6s;
}

.modal--error .input--error,
.modal--error .textarea--error {
    background-color: rgba(237, 181, 181, 0.5);
    border-color: rgba(237, 181, 181, 0.5);
}

.modal .btn {
    min-width: 200px;
}

.modal .btn:hover,
.modal .btn:focus {
    background-color: rgba(240, 197, 46, 1);
}

.modal .btn:active {
    background-color: rgba(240, 197, 46, 1);
    color: rgba(0, 0, 0, 0.3);
}

.container--wrap {
    padding: 45px 0 0 0;
    margin: 0 auto 50px auto;
    width: 1000px;
}

.container--wrap h1,
.container--wrap .breadcrumbs {
    margin: 0;
    padding: 0;
}

.container--wrap h1 {
    font-size: 47px;
    line-height: 48px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.container--wrap .breadcrumbs {
    display: flex;
}

.breadcrumbs li:first-child {
    margin-right: 40px;
}

.breadcrumbs li:nth-child(2) {
    margin-right: 30px;
}

.breadcrumbs {
    list-style: none;
}

.breadcrumbs li:not(:last-child) {
    position: relative;
}

.breadcrumbs li:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 8px;
    background-image: url("../img/icons/arrow.svg");
    background-repeat: no-repeat;
    right: -20px;
    bottom: 7px;
}

.breadcrumbs a {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.3);
    letter-spacing: 0.1px;
}

.breadcrumbs a:hover:not(.breadcrumbs--current),
.breadcrumbs a:focus:not(.breadcrumbs--current) {
    color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active:not(.breadcrumbs--current) {
    color: rgba(0, 0, 0, 0.1);
}

.catalog--wrap {
    width: 100%;
    display: flex;
}

.filter-column--wrap,
.catalog-column--wrap {
    position: relative;
}

.filter-column--wrap {
    background-color: rgba(0, 0, 0, 0.08);
    flex-grow: 1;
}

.filter-column--wrap::before {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    display: block;
    width: 100%;
    height: 64px;
    background-color: rgba(0, 0, 0, 0.08);
}

.catalog-column--wrap {
    flex-grow: 1;
}

.catalog-column--wrap::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 64px;
    background-color: rgba(0, 0, 0, 0.08);
}

.filter-width--wrap {
    box-sizing: border-box;
    width: 330px;
    padding-left: 30px;
    margin-left: auto;
}

.catalog-width--wrap {
    width: 850px;
    margin-right: auto;
}

.filter {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    position: relative;
}

.color input,
.bluetooth input {
    visibility: hidden;
}

.filter form {
    padding: 70px 70px 0 0;
}

.filter-title--wrap {
    width: 100%;
    height: 64px;
}

.filter fieldset {
    border: none;
}

.filter h2 {
    float: right;
    color: #000000;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3.2px;
    width: 200px;
    margin: 0;
    padding: 20px 40px 20px 0;
}

.filter legend {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.filter fieldset.price {
    border-top: 2px solid rgba(0, 0, 0, 1);
    border-bottom: 2px solid rgba(0, 0, 0, 1);
    margin-bottom: 15px;
}

.price label {
    color: rgba(0, 0, 0, 0.2);
    font-weight: 300;
    font-size: 14px;
    letter-spacing: normal;
    line-height: 24px;
}

.price button {
    line-height: 0;
    font-size: 0;
    color: transparent;
}

.color label,
.bluetooth label {
    font-family: "Open Sans", Arial, sans-serif;
    color: rgba(0, 0, 0, 1);
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    letter-spacing: 0.1px;
}

.filter fieldset.color {
    margin-bottom: 15px;
    border-bottom: 2px solid rgba(0, 0, 0, 1);
}

.color ul {
    list-style: none;
}

.bluetooth ul {
    list-style: none;
}

.sort--wrap {
    width: 100%;
    height: 64px;
}

.sort {
    border: none;
    margin: 0;
    padding: 20px 20px 20px 70px;
    display: flex;
    width: 760px;
    position: relative;
    float: left;
}

.sort legend {
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 3.2px;
    text-transform: uppercase;
    position: absolute;
}

.sort-list {
    list-style: none;
    margin: 0 0 0 200px;
    padding: 0;
    display: flex;
}

.sort-list a {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
    letter-spacing: normal;
}

.sort-list li:first-child {
    margin-right: 30px;
}

.sort-list li:nth-child(2) {
    margin-right: 35px;
}

.sort-list li:not(.sort-low-high--current):hover {
    cursor: pointer;
}

.sort-list .sort-low-high,
.sort-list .sort-low-high {
    line-height: 0;
    font-size: 0;
    color: transparent;
    position: relative;
}

.sort-list li:nth-child(4)::before {
    content: "";
    width: 11px;
    height: 10px;
    position: absolute;
    background-image: url("../img/icons/arrow-up.svg");
    background-repeat: no-repeat;
    right: -40px;
    top: 30px;
}

.sort-list li:last-child::before {
    content: "";
    width: 11px;
    height: 10px;
    position: absolute;
    background-image: url("../img/icons/arrow-down.svg");
    background-repeat: no-repeat;
    right: -70px;
    top: 30px;
}

.sort-low-high--current {
    opacity: 0.2;
}

.sort-list .sort--current {
    color: rgba(0, 0, 0, 1);
}

.sort-list a:hover:not(.sort--current),
.sort-list a:focus:not(.sort--current) {
    color: rgba(0, 0, 0, 0.6);
}

.sort-list a:active:not(.sort--current) {
    color: rgba(0, 0, 0, 1);
}

.catalog {
    display: flex;
    flex-direction: column;
}

.catalog-list {
    margin: 0;
    padding: 70px 20px 0 70px;
    display: flex;
    flex-wrap: wrap;
}

.catalog-item {
    margin-bottom: 50px;
}

.catalog-list li:nth-child(2n + 1) {
    margin-right: 40px;
}

.catalog-item a {
    font-size: 18px;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.2px;
}

.catalog-item p {
    margin: 0;
}

.catalog-item h3 {
    margin: 0;
    width: 280px;
}

.catalog-item .catalog-item--image {
    margin-bottom: 20px;
}

.catalog-item .catalog-item--wrap {
    display: flex;
    justify-content: space-between;
}

.catalog-item img:hover,
.catalog-item img:focus {
    opacity: 0.7;
}

.catalog-item .catalog-item--price {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.3);
    letter-spacing: 0.2px;
}

.catalog-item--new {
    position: relative;
}

.catalog-item--new::before {
    content: "New";
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    width: 64px;
    height: 63px;
    position: absolute;
    color: rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 45px;
    padding: 16px 15px;
    top: 27px;
    right: 25px;
}

.pagination-list {
    list-style: none;
    background-color: rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 20px;
    padding: 0;
}

.pagination-numbers-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.pagination-list a {
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.3);
    letter-spacing: 3.2px;
    padding: 20px;
}

.pagination-item:hover a,
.pagination-item:focus a,
.pagination-item:hover a,
.pagination-item:focus a {
    color: rgba(0, 0, 0, 0.6);
}

.pagination-item:hover a.button,
.pagination-item:focus a.button,
.pagination-item:hover a.pagination-item--current,
.pagination-item:focus a.pagination-item--current {
    color: rgba(0, 0, 0, 1);
}

.pagination-item:active a.button {
    color: rgba(0, 0, 0, 0.3);
}

.pagination-item:active a.pagination-number {
    color: rgba(0, 0, 0, 1);
}

.pagination-item:active a.pagination-item--current {
    color: rgba(0, 0, 0, 1);
}

.pagination-list a.pagination-item--current {
    color: rgba(0, 0, 0, 1);
}

a.btn-back,
a.btn-next {
    color: rgba(0, 0, 0, 1);
    letter-spacing: 3.2px;
}

a.btn-back:hover,
a.btn-back:focus,
a.btn-next:hover,
a.btn-next:focus {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(216, 216, 216, 1);
}

a.btn-back:active,
a.btn-next:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: rgba(216, 216, 216, 1);
}
