@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroyextrabold.woff") format("woff"), url("../fonts/gilroyextrabold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroylight.woff") format("woff"), url("../fonts/gilroylight.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensanslight.woff") format("woff"), url("../fonts/opensanslight.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;

    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

a {
    text-decoration: none;
}

.visually--hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
}

.main-nav {
    background-color: rgba(240, 197, 46, 0.5);
    color: #000000;
}

.main-header--logo img:hover {
    opacity: 0.6;
}

.main-header--logo img:active {
    opacity: 0.3;
}

.user-nav input,
.user-nav a {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.2px;
}

.user-nav input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.user-nav input::placeholder:hover {
    color: rgba(0, 0, 0, 0.6);
}

.user-nav input::placeholder:focus {
    color: rgba(0, 0, 0, 1);
}

.main-header a:not(.main-header--logo) {
    color: rgba(0, 0, 0, 1);
}

.main-header a:hover:not(.main-header--logo),
.main-header a:focus:not(.main-header--logo) {
    color: rgba(0, 0, 0, 0.6);
}

.main-header a:focus:not(.main-header--logo) {
    color: rgba(0, 0, 0, 0.3);
}

.menu-list,
.catalog-list,
.catalog-menu-list {
    list-style: none;
}

.menu-list a {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    letter-spacing: 3.6px;
}

.menu-list a:hover,
.menu-list a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.menu-list a:active {
    color: rgba(0, 0, 0, 0.3);
}

.catalog-submenu {
    display: none;
}


.slider .slide-number {
    font-size: 180px;
    line-height: 180px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(240, 197, 46, 0.5);
    margin: 0;
    letter-spacing: 1.8px;
}

.slider b {
    font-size: 47px;
    line-height: 56px;
    font-weight: 800;
    letter-spacing: 0.5px;
}

.slider .slide-description {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.2px;
}

.slider .parameter {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.1px;
}

.slider .value {
    font-weight: 300;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.4px;
}

.slide-2, .slide-3 {
    display: none;
}

.slider-dots-list {
    list-style: none;
}

.slider-dots-list button {
    line-height: 0;
    font-size: 0;
    color: transparent;
}

.catalog-menu-list a {
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.2px;
}

.catalog-menu-list li::before {
    content: "";
    display: block;
    width: 160px;
    height: 160px;
    background-color: rgba(240, 197, 46, 0.5);
}

.catalog-menu-list li:hover::before,
.catalog-menu-list li:focus::before {
    background-color: rgba(240, 197, 46, 1);
}

.catalog-menu-list li:active::before {
    background-color: rgba(240, 197, 46, 1);
}

.catalog-menu-list a:active {
    opacity: 0.3;
}

.information ul {
    list-style: none;
}

.info-list li:not(.info--current) {
    display: none;
}

.btn {
    color: rgba(0, 0, 0, 1);
    letter-spacing: 3.6px;
    text-transform: uppercase;
    border: none;
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
}

.btn:active,
.info-menu--current {
    color: rgba(247, 225, 132, 1);
    background-color: rgba(0, 0, 0, 1);
}

.btn:hover:not(.info-menu--current),
.btn:focus:not(.info-menu--current) {
    background-color: rgba(240, 197, 46, 1);
    color: rgba(0, 0, 0, 1);
}

.info-list .info--delivery {
    background: rgba(229, 229, 229, 1) url("../img/icons/delivery.svg") no-repeat center center;
}

.info-list .info--guarantee {
    background: rgba(229, 229, 229, 1) url("../img/icons/warranty.svg") no-repeat center center;
}

.info-list .info--credit {
    background: rgba(229, 229, 229, 1) url("../img/icons/credit.svg") no-repeat center center;
}

.info-list h2 {
    font-size: 47px;
    line-height: 48px;
    letter-spacing: 0.5px;
}

.info-list p {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    color: rgba(70, 70, 70, 1);
    letter-spacing: 0.2px;
}

.brands .brands-list {
    list-style: none;
}

.brands-list img {
    filter: grayscale(1);
    opacity: 0.2;
}

.brands-list img:hover {
    filter: grayscale(0);
    opacity: 1;
}

.about-us h2,
.contacts h2 {
    font-size: 47px;
    line-height: 48px;
    letter-spacing: 0.5px;
}

.about-us p,
.contacts p {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    color: rgba(70, 70, 70, 1);
    letter-spacing: normal;
}

.partners-list {
    list-style: none;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: normal;
}

.main-footer {
    background-color: rgba(70, 70, 70, 1);
}

.main-footer--logo img:hover,
.main-footer--logo img:focus {
    opacity: 0.6;
}

.main-footer--logo img:active {
    opacity: 0.3;
}

.user-nav,
.menu-list {
    list-style: none;
}
.user-nav a,
.footer-nav p {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 0.2px;
}

.user-nav a:hover,
.user-nav a:focus {
    color: rgba(255, 255, 255, 1);
}

.user-nav a:active {
    color: rgba(255, 255, 255, 0.3);
}

.footer-nav p {
    color: rgba(255, 255, 255, 1);
}

.menu-list a {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 3.6px;
}

.menu-list a:hover,
.menu-list a:focus {
    color: rgba(255, 255, 255, 0.6);
}

.menu-list a:active {
    color: rgba(255, 255, 255, 0.3);
}

.footer-social-list {
    list-style: none;
}

.footer-social-list a {
    line-height: 0;
    font-size: 0;
    color: transparent;
}

.footer-copyright img:hover,
.footer-copyright img:focus {
    opacity: 0.6;
}

.footer-copyright img:active {
    opacity: 0.3;
}

.modal {
    display: none;
}

.container h1 {
    font-size: 47px;
    line-height: 48px;
    letter-spacing: 1px;
}

.breadcrumbs {
    list-style: none;
}

.breadcrumbs a {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.3);
    letter-spacing: 0.1px;
}

.breadcrumbs a:hover:not(.breadcrumbs--current),
.breadcrumbs a:focus:not(.breadcrumbs--current) {
    color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active:not(.breadcrumbs--current) {
    color: rgba(0, 0, 0, 0.1);
}

.filter fieldset {
    border: none;
    background-color: rgba(0, 0, 0, 0.08);
}

.filter h2 {
    background-color: rgba(220, 220, 220, 1);
    color: #000000;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3.2px;
}

.filter legend {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.price label {
    color: rgba(0, 0, 0, 0.2);
    font-weight: 300;
    font-size: 14px;
    letter-spacing: normal;
    line-height: 24px;
}

.price button {
    line-height: 0;
    font-size: 0;
    color: transparent;
}

.color label,
.bluetooth label {
    font-family: "Open Sans", Arial, sans-serif;
    color: rgba(0, 0, 0, 1);
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    letter-spacing: 0.1px;
}

.color ul {
    list-style: none;
}

.sort {
    border: none;
    background-color: rgba(0, 0, 0, 0.08);
}

.sort legend {
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 3.2px;
    text-transform: uppercase;
}

.sort-list {
    list-style: none;
}

.sort-list a {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
    letter-spacing: normal;
}

.sort-list .sort--current {
    color: rgba(0, 0, 0, 1);
}

.sort-list a:hover:not(.sort--current),
.sort-list a:focus:not(.sort--current) {
    color: rgba(0, 0, 0, 0.6);
}

.sort-list a:active:not(.sort--current) {
    color: rgba(0, 0, 0, 1);
}

.catalog-item a {
    font-size: 18px;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 0.2px;
}

.catalog-item img:hover,
.catalog-item img:focus {
    opacity: 0.7;
}

.catalog-item .catalog-item--price {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.3);
    letter-spacing: 0.2px;
}

.pagination-list {
    list-style: none;
    background-color: rgba(0, 0, 0, 0.08);
}

.pagination-list a {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.3);
    letter-spacing: 3.2px;
}

.pagination-list a:hover:not(.button),
.pagination-list a:focus:not(.button) {
    color: rgba(0, 0, 0, 0.6);
}

.pagination-list a:active:not(.button) {
    color: rgba(0, 0, 0, 1);
}

.pagination-list a.pagination-item--current {
    color: rgba(0, 0, 0, 1);
}

a.btn-back,
a.btn-next {
    color: rgba(0, 0, 0, 1);
    letter-spacing: 3.2px;
}

a.btn-back:hover,
a.btn-back:focus,
a.btn-next:hover,
a.btn-next:focus {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(216, 216, 216, 1);
}

a.btn-back:active,
a.btn-next:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: rgba(216, 216, 216, 1);
}
